@import "variables";

.body {
  margin: 0;
  padding: 0;
  background: $blanco;
  position: relative;
  overflow: hidden;

  .aboutContainer {
    width: 80%;
    margin: 2vh auto;
    @include interMedium;
    color: $negro;
    display: flex;

    &::before {
      content: " ";
      background: $naranja;
      width: 100%;
      height: 30vh;
      position: absolute;
      bottom: 3vh;
      left: 0;
    }

    .info {
      margin: 10vh 20px;
      z-index: 2;

      .title {
        color: $naranja;
      }
    }

    .imageGroup {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      z-index: 2;

      .mainImg {
        width: 300px;
        height: 300px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    align-items: center;

    &::before {
      top: 50vh;
    }

    .mainImg {
      width: 50px;
      height: 50px;
    }
  }
}
