@import "variables";

body {
  margin: 0;
  padding: 0;
  background: $blanco;
}

.PortafolioContainer {
  width: 100%;

  .galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .galleryItem {
      margin-top: -3px;
      position: relative;

      .imgGallery {
        width: 100%;
        height: 450px;
      }

      .textClick {
        position: absolute;
        top: 0;
        right: -10px;
        background: white;
        width: 50%;
        @include interMedium;
        padding: 10px;
        display: none;
      }
    }
  }
}
